/*************************************** Liste de restaurants *************************/

.appli {
	background-color: #FAEBD7;
}

header.appli h1 {
	color: red;
	margin-bottom : 15px;
}

body.annuaire {
	background-color: rgba(255, 158, 49, 0.9);
}

header.banner#annuaire h1 {
	font-size:2.25em; font-weight:200;  letter-spacing:1px; line-height:1em; color: #333; /*#FFFFFF;*/
}

.annuaire #contenu {
	float: left; /*les labels sont alignés à gauche*/
	margin-left: 200px;
	width: 900px;
	height : 10px; 
}

.annuaire div#ligne {
	border-style: solid;
	border-width: 0 0 1px 0 ;
}

.annuaire #resto {
	color: #FAEBD7
}

.annuaire #resto h3 {
	color: #333
}

.annuaire #resto a {
	color: red;
}

/*************************************** Affichage de la carte d'un restaurant *************************/
article.leRestaurant {
	background-color: rgba(234,46,73,0.9);
	position:absolute; right:0;
	width: 900px;
}

nav.leRestaurant {
	
}

.leRestaurant #carte {	
}

aside.leRestaurant#annuaire {
	background-color: rgba(82, 158, 49, 0.9);
	position:absolute; left:0;
}

.annuaire #main-wrapper {
	width: 1300px;
}
/*************************************** Saisie de restaurants *************************/
body.saisie {
	background-color: rgba(255, 158, 49, 0.9);
	background-image: url(inscription.jpg);
	background-position: right;
	background-repeat: repeat-y;
}


.saisie #main-wrapper {
	width: 900px; /*50%*/
}


.saisie h1 {
	color: #990000;/*#FF0033;*/
	font-weight:bold;
	text-align: center;
}

.saisie h2 {
	color: #FFF0A0; /*#FF0039;*/
	font-weight:bold;
	text-align: center;
}

.saisie form,.leRestaurant #carte  {
	border: 1px solid red;
	background-color: rgba(234,46,73,0.9);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom : 15px;
}

.saisie fieldset {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom : 15px;
}

.saisie p.bouton {
	padding-left: 100px;/*text-align: center;*/
	/*padding-button: -5px;*/
}

.saisie label {
	float: left; /*les labels sont alignés à gauche*/
	text-align: right;/**/
	margin-right: 20px;
	vertical-align: top;
	font-weight:bold; /* en gras */
	width: 150px; /*120px; largeur*/ 
}

/* COULEURS */
/* Liste des restaurants : orange : rgba(255, 158, 49, 0.9) */
/* Espace restaurateurs : rose : rgba(234,46,73,0.9) */
/* Les temps changent: vert: position:absolute; right:0; */
